<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="context.name" source="spring.application.name"/>
    <contextName>${context.name}</contextName>

    <property name="pattern.console" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %cyan(%logger{36}).%line - %msg%n"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern.console}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="stdout"/>
    </root>
</configuration>